body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #181919;
}

header {
    color: #fff;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
}