body {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#product-overview{
    background-color: red;
}


.section-title{
    color: blue;
}

h1{
    color:white;   
}

#product-overview h1 {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


